<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" packagingData="true" scan="false"
	scanPeriod="15 seconds">

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs\smartwatch.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>logs\smartwatch.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 1MB -->
				<maxFileSize>1MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<!-- keep 30 days' worth of history -->
			<maxHistory>7</maxHistory>
		</rollingPolicy>
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<charset>UTF-8</charset>
			<layout class="ch.qos.logback.classic.html.HTMLLayout">
				<pattern>%d{HH:mm:ss.SSS}%thread%level%logger%line%msg</pattern>
			</layout>
		</encoder>
	</appender>


	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} -
				%msg%n</Pattern>
		</layout>
	</appender>

	<logger name="org.springframework" level="ERROR" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<!-- <logger name="org.springframework.web.servlet.mvc" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" /> </logger> -->

	<logger name="org.hibernate" level="ERROR" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="com.zaxxer.hikari" level="ERROR" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="it.tsc" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<!-- <logger name="org.hibernate.SQL" level="DEBUG" additivity="false" >
		<appender-ref ref="STDOUT" /> </logger> <logger name="org.hibernate.type"
		level="TRACE" additivity="false" > <appender-ref ref="STDOUT" /> </logger> -->

	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>

</configuration>